.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* min-width: 240px; */
  height: 260px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 2px 2px 20px 4px #00000040;
  transition: all 0.2s ease;

  .images {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .category {
    background-color: #f6f6f6;
    color: #1c1c1c;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    text-decoration: none;
  }

  .logos {
    z-index: 1;
    width: 80%;
    object-fit: contain;
  }

  .bg {
    filter: brightness(0.4);
  }
}

.item:hover {
  transform: scale(1.1);
}
.item:hover .bg {
  filter: opacity(0.5);
}
