.container {
  overflow: hidden;
  position: relative;
  height: 20rem;
  border-color: #4b5563;
  width: 100%;
}

.track {
  display: flex;
  position: absolute;
  left: 0;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100%;
  animation: slide 20s linear infinite;
}

.track:hover {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    left: 0;
  }
  50% {
    left: -40%;
  }
  100% {
    left: 0;
  }
}

.navbutton {
  background-color: var(--mantine-color-primary-filled);
}

.navbutton:hover {
  background-color: var(--mantine-color-primary-filled-hover);
}
