/* Form */
.form {
  position: relative;
  color: black;
  width: 100%;
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 3%; */
  flex: 2;
}

/* Inputs */
.input {
  border-bottom: 1px solid #e4e4e4;
  padding: 1rem 0;
  transition: border-color 0.5s ease;
  font-size: 1.2rem;
}

.input::placeholder {
  color: #585454;
  font-size: 1.2rem;
}

.input:focus {
  border-bottom: 2px solid #1c1c1c;
}

.label {
  font-size: 1rem;
  color: var(--mantine-color-dimmed);
}

/* Select */
.dropdownOption {
  font-size: 1rem;
  padding: 1rem;
}

/* Checkbox Group */

.checkboxContainer {
  background: #fcf9f9;
  border-radius: 8px;
}

.checkboxLabel {
  font-weight: 800;
  font-family: var(--mantine-font-family-headings);
  font-size: 1.4rem;
}

.checkboxWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.checkbox {
  cursor: pointer;
}

.checkboxIcon {
  width: 13px;
}

/* Misc */

.terms {
  color: #7d8794;
  font-size: 1.2rem;
}
